<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Jan-Marten de Boer</title>
        <link href="css/style.css" rel="stylesheet">
        <link href="css/prism.css" rel="stylesheet">
        <link rel="canonical" href="http://janmarten.name/{{ output.path }}" />
    </head>
    <body>
        <div id="terminal">
            <div id="header">
                <span id="date">{{ output.metaData.datePublished|date("Y-m-d H:i") }}</span>
                <span id="author">{{ source.metaData.author.name }}</span>
                <span id="page">{{ source.path }}</span>
            </div>
            <div id="content">
                {{ content|raw }}
            </div>
        </div>
        <script type="application/javascript" src="js/prism.js"></script>
    </body>
</html>
