<!DOCTYPE html>
<html lang="{{ app.request.locale ?? app.request.defaultLocale }}">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>💾</text></svg>">

        {% block canonical %}
            <link rel="canonical" href="{% block canonical_href %}{{ absolute_url(path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params'))) }}{% endblock %}" />
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% block body %}
            {% block header %}
                <div class="relative bg-gray-100 shadow">
                    <div class="mx-auto max-w-7xl">
                        <div class="relative z-10 lg:w-full lg:max-w-2xl">
                            <svg
                                    class="absolute inset-y-0 right-8 hidden h-full w-80 translate-x-1/2 transform fill-gray-100 lg:block"
                                    viewBox="0 0 100 100"
                                    preserveAspectRatio="none"
                                    aria-hidden="true">
                                <polygon points="0,0 90,0 50,100 0,100" />
                            </svg>

                            <div class="relative py-32 px-6 sm:py-40 lg:py-56 lg:pr-0">
                                <div class="mx-auto max-w-2xl lg:mx-0 lg:max-w-2xl">
                                    <h1 class="text-4xl font-bold tracking-tight text-gray-900 md:text-6xl">
                                        {{ svg(
                                            file = 'icons/outline/rocket-launch.svg',
                                            class = 'float-left mr-2 w-9 h-9 md:h-14 md:w-14'
                                        ) }}
                                        Jan-Marten Jongerius
                                    </h1>
                                    <div class="mt-6 text-lg leading-8 text-gray-600">
                                        {{ 'hero.subtitle'|trans|markdown }}
                                    </div>

                                    <div class="mt-10 flex items-center gap-x-6">
                                        <a href="#contact"
                                           class="inline-flex items-center rounded-md border border-transparent bg-emerald-700 px-6 py-3 text-base font-medium text-white shadow-sm hover:bg-emerald-800 focus:outline-none focus:ring-2 focus:ring-emerald-600 focus:ring-offset-2">
                                            {{ 'hero.cta'|trans }}
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="bg-gray-50 lg:absolute lg:inset-y-0 lg:right-0 lg:w-1/2">
                        <div
                            id="hero-bg"
                            class="aspect-[3/2] object-cover lg:aspect-auto lg:h-full lg:w-full"
                        >
                        </div>
                    </div>
                </div>
            {% endblock %}

            {% block content %}{% endblock %}

            {% block feature %}
                <div class="bg-white py-24 sm:py-32">
                    <div class="mx-auto max-w-7xl px-6 lg:px-8">
                        <div class="mx-auto max-w-2xl lg:text-center">
                            <h2 class="text-lg font-semibold leading-8 tracking-tight text-emerald-600">
                                {{ 'heading.feature'|trans }}
                            </h2>
                            <p class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">
                                {{ 'feature.subtitle'|trans }}
                            </p>
                            <p class="mt-6 text-lg leading-8 text-gray-600">
                                {{ 'feature.description'|trans }}
                            </p>
                        </div>
                        <div class="mx-auto mt-16 max-w-2xl sm:mt-20 lg:mt-24 lg:max-w-none">
                            <dl class="grid gap-x-8 gap-y-16 lg:grid-cols-3">
                                {% for feature in 'a'..'f' %}
                                    <div class="flex flex-col text-center lg:text-left">
                                        <dt class="text-base font-semibold leading-7 text-gray-900">
                                            <div class="mb-6 mx-auto lg:mx-0 flex h-10 w-10 items-center justify-center rounded-lg bg-emerald-600">
                                                {{ svg(
                                                    file = 'icons/outline/' ~ ('feature.' ~ feature ~ '.icon')|trans ~ '.svg',
                                                    class = 'h-6 w-6 text-white'
                                                ) }}
                                            </div>
                                            {{ ('feature.' ~ feature ~ '.title')|trans }}
                                        </dt>
                                        <dd class="mt-1 text-base leading-7 text-gray-600">
                                            <p class="max-w-md mx-auto">
                                                {{ ('feature.' ~ feature ~ '.description')|trans }}
                                            </p>
                                        </dd>
                                    </div>
                                {% endfor %}
                            </dl>
                        </div>

                        <div class="mt-24 mx-auto text-center">
                            <a href="#contact"
                               class="inline-flex items-center rounded-md border border-transparent bg-emerald-700 px-6 py-3 text-base font-medium text-white shadow-sm hover:bg-emerald-800 focus:outline-none focus:ring-2 focus:ring-emerald-600 focus:ring-offset-2">
                                {{ 'feature.cta'|trans }}
                            </a>
                        </div>
                    </div>
                </div>
            {% endblock %}

            {% block footer %}
                {% block footer_contact %}
                    <footer id="contact" class="bg-white">
                        <div class="mx-auto max-w-7xl py-16 px-6 lg:px-8">
                            <div class="mx-auto max-w-lg md:grid md:max-w-none md:grid-cols-2 md:gap-8">
                                {% for contact_type in ['jobs', 'support'] %}
                                    <div{% if not loop.first %} class="mt-12 sm:mt-16 md:mt-0"{% endif %}>
                                        <h2 class="text-2xl font-bold text-gray-900 sm:text-3xl sm:tracking-tight">
                                            {{ ('heading.' ~ contact_type)|trans }}
                                        </h2>
                                        <div class="mt-3">
                                            <p class="text-lg text-gray-500">
                                                {{ ('footer.' ~ contact_type ~ '.description')|trans }}
                                            </p>
                                        </div>
                                        <div class="mt-9">
                                            <div class="flex">
                                                <div class="flex-shrink-0">
                                                    {{ svg(
                                                        file = 'icons/outline/phone.svg',
                                                        class = 'text-gray-400 h-6 w-6'
                                                    ) }}
                                                </div>
                                                <div class="ml-3 text-base text-gray-500">
                                                    <p>
                                                        <a href="tel:{{ ('footer.' ~ contact_type ~ '.phone_numeric')|trans }}">
                                                            {{ ('footer.' ~ contact_type ~ '.phone')|trans }}
                                                        </a>
                                                    </p>
                                                    <p class="mt-1">{{ ('footer.' ~ contact_type ~ '.availability')|trans }}</p>
                                                </div>
                                            </div>
                                            <div class="mt-6 flex">
                                                <div class="flex-shrink-0">
                                                    {{ svg(
                                                        file = 'icons/outline/envelope.svg',
                                                        class = 'text-gray-400 h-6 w-6'
                                                    ) }}
                                                </div>
                                                <div class="ml-3 text-base text-gray-500">
                                                    <p>
                                                        <a href="mailto:{{ ('footer.' ~ contact_type ~ '.email')|trans }}?subject={{ ('footer.' ~ contact_type ~ '.email_subject')|trans }}">
                                                            {{ ('footer.' ~ contact_type ~ '.email')|trans }}
                                                        </a>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </footer>
                {% endblock %}

                {% block footer_copyright %}
                    <footer class="bg-white border-t border-grey-400">
                        <div class="mx-auto max-w-7xl py-12 px-6 md:flex md:items-center md:justify-between lg:px-8">
                            <div class="flex justify-center space-x-6 md:order-2">
                                <a href="https://www.linkedin.com/in/janmartendeboer/" rel="noreferrer nofollow" target="_blank" class="text-gray-400 hover:text-blue-500">
                                    <span class="sr-only">LinkedIn</span>
                                    {{ svg(
                                        file = 'icons/linkedin.svg',
                                        class = 'h-6 w-6 rounded'
                                    ) }}
                                </a>
                            </div>
                            <div class="mt-8 md:order-1 md:mt-0">
                                <p class="text-center text-xs leading-5 text-gray-500">
                                    &copy; {{ date()|date('Y') }} Jan-Marten de Boer. {{ 'footer.rightsReserved'|trans }}
                                </p>
                            </div>
                        </div>
                    </footer>
                {% endblock %}
            {% endblock %}
        {% endblock %}

        {% block svg_definitions %}
            {{ svg_definitions() }}
        {% endblock %}
    </body>
</html>
