{% block employment_organization %}
    <div>
        {% block employment_employer_logo %}
            {% if this.employment.employer.logo %}
                {{ this.employment.employer.logo|image(
                    width = 100,
                    height = 'auto',
                    alt = this.employment.employer.name
                ) }}
            {% endif %}
        {% endblock %}

        {% block employment_title %}
            <h3>{{ this.employment.title }}</h3>
        {% endblock %}

        {% block employment_employer_name %}
            <div>{{ this.employment.employer.name }}</div>
        {% endblock %}

        {% block employment_period %}
            <div>
                {% block employment_period_start %}
                    <span>
                        {{ this.employment.startAt|date('M Y') }}
                    </span>
                {% endblock %}

                &hyphen;

                {% block employment_period_end %}
                    <span>
                        {{ this.employment.endAt
                            ? this.employment.endAt|date('M Y')
                            : 'employment.present'|trans
                        }}
                    </span>
                {% endblock %}

                &hyphen;

                {% block employment_period_duration %}
                    <span>{{ this.employment|duration|trans }}</span>
                {% endblock %}
            </div>
        {% endblock %}

        {% block employment_description %}
            <div>
                {{ this.employment.description|markdown }}
            </div>
        {% endblock %}
    </div>
{% endblock %}
