{% block employment_organization %}
    {% set imageWidth = 64 %}
    <div class="overflow-hidden">
        <div class="py-5">
            <div class="flex">
                {% block employment_employer_logo %}
                    <div class="mr-4 flex-shrink-0">
                        {% if this.employment.employer.logo %}
                            {{ this.employment.employer.logo|image(
                                width = imageWidth,
                                height = 'auto',
                                alt = this.employment.employer.name
                            ) }}
                        {% else %}
                            <svg xmlns="http://www.w3.org/2000/svg"
                                 class="text-emerald-600"
                                 width="{{ imageWidth }}px"
                                 height="{{ imageWidth }}px"
                            >
                                {{ use('icons/outline/building-office.svg') }}
                            </svg>
                        {% endif %}
                    </div>
                {% endblock %}

                <div class="self-center">
                    <div class="flex">
                        {% block employment_title %}
                            <h3 class="text-lg font-medium leading-6 text-gray-700">{{ this.employment.title }}</h3>
                        {% endblock %}

                        {% block employment_period %}
                            <div class="text-gray-400 leading-6 px-2">
                                {% block employment_period_start %}
                                    <span>
                                        {{ this.employment.startAt|date('M Y') }}
                                    </span>
                                {% endblock %}

                                &hyphen;

                                {% block employment_period_end %}
                                    <span>
                                        {{ this.employment.endAt
                                        ? this.employment.endAt|date('M Y')
                                        : 'employment.present'|trans
                                        }}
                                    </span>
                                {% endblock %}

                                &hyphen;

                                {% block employment_period_duration %}
                                    <span>{{ this.employment|duration|trans }}</span>
                                {% endblock %}
                            </div>
                        {% endblock %}
                    </div>

                    {% block employment_employer %}
                        <div class="flex">
                            {% block employment_employer_name %}
                                <div class="leading-6 text-gray-600">
                                    {{ this.employment.employer.name }}
                                </div>
                            {% endblock %}

                            {% block employment_employer_description %}
                                <div class="text-gray-400 leading-6 px-2">
                                    {{ this.employment.employer.description }}
                                </div>
                            {% endblock %}
                        </div>
                    {% endblock %}

                    {% block employment_description %}
                        <div class="text-gray-600 text-lg pt-4 leading-6 space-y-3">
                            {{ this.employment.description|markdown|replace(
                                {
                                    '<ul>': '<ul class="list-disc list-inside">',
                                    '<ol>': '<ol class="list-decimal list-inside">'
                                }
                            )|raw }}
                        </div>
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
